* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.calc-box {
  margin: 30px;
  width: 300px;
  padding: 10px;
  background-color: grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.output {
  margin: 5px 0 ;
}
#previous-operand{
  margin: 0;
  font-size: 2em;
  border-radius: 10px 10px 0px 0;
}
#current-operand{
  margin: 0;
  font-size: 3em;
  border-radius: 0 0 10px 10px;
}
.output > input{
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  padding: 0 10px;
}
.brand{
  color: white;
  margin-top: 4px;
  text-align: center;
}
.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-template-rows: repeat(5, 60px);
  gap: 5px;
}
.calc-buttons button{
  cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    
}
.span-two{
    grid-row: span 2;
}
